@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Página Inicial";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
}

<body>
    @section MainContentFullWidth {
        <section class="hero-section">
            <div class="hero">
                <h2>SEJA BEM VINDO</h2>
                <p>
                    A Magitech oferece as melhores soluções de sensores e ainda
                    possui dashboards e consultas avançadas interativas!
                </p>
                <div class="buttons">
                    <a href="#" class="about">Sobre nós</a>
                    <a asp-controller="Login" asp-action="LogOff" class="logoff">Log off</a>
                </div>
            </div>
        </section>
    }
</body>
