@{
    ViewData["Title"] = "Página Inicial";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
}

<header>
    <nav class="navbar-custom">
        <ul>
            <li>
                <a asp-controller="Sensor" asp-action="Index">
                    🔧 Gerenciar Sensores
                </a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">
                    📊 Consultas Avançadas <i class="fas fa-caret-down"></i>
                </a>
                <div class="dropdown-content">
                    <a asp-controller="Admin" asp-action="ConsultaAvancada">👤 Usuários</a>
                    <a asp-controller="ConsultaSensor" asp-action="Index">🌡️ Sensores</a>
                </div>
            </li>
        </ul>
    </nav>
</header>