@model UsuarioViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/cadastroUsuario.css" asp-append-version="true" />
}

<div class="container-externo-forms">

    <form action="Save" enctype="multipart/form-data" method="post">
        <div class="title">Realize o seu Cadastro!</div>

        <div class="form-body">
            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />

            @* <label for="Id">Id</label> *@
            @if (ViewBag.Operacao == "I")
            {
                <input asp-for="Id" type="hidden" readonly />
            }
            else
            {
                <input asp-for="Id" type="hidden" readonly />
            }
            <span asp-validation-for="Id"></span>
            <br />

            <label for="Nome">Insira o seu nome completo</label>
            <input asp-for="Nome" />
            <span asp-validation-for="Nome"></span>
            <br />

            <label for="Email">Insira o seu email</label>
            <input asp-for="Email" />
            <span asp-validation-for="Email"></span>
            <br />

            <label for="DataNascimento">Insira a sua data de nascimento</label>
            <input asp-for="DataNascimento" type="date" value="@Model.DataNascimento.ToString("yyyy-MM-dd")" />
            <span asp-validation-for="DataNascimento"></span>
            <br />

            <label for="SexoId">Selecione o seu gênero</label>
            <select asp-for="SexoId" asp-items="ViewBag.Sexos"> </select>
            <span asp-validation-for="SexoId"></span>
            <br />

            <label for="Cep">Insira o cep</label>
            <input asp-for="Cep" />
            <span asp-validation-for="Cep"></span>
            <br />

            <label for="Logradouro">Insira o endereço</label>
            <input asp-for="Logradouro" />
            <span asp-validation-for="Logradouro"></span>
            <br />

            <label for="Numero">Insira o número da residência</label>
            <input asp-for="Numero" />
            <span asp-validation-for="Numero"></span>
            <br />

            <label for="Cidade">Insira a sua cidade</label>
            <input asp-for="Cidade" />
            <span asp-validation-for="Cidade"></span>
            <br />

            <label for="Estado">Insira o seu Estado</label>
            <input asp-for="Estado" />
            <span asp-validation-for="Estado"></span>
            <br />

            <label for="LoginUsuario">Insira seu usuario</label>
            <input asp-for="LoginUsuario" />
            <span asp-validation-for="LoginUsuario"></span>
            <br />

            <label for="Senha">Insira sua senha</label>
            <input asp-for="Senha" />
            <span asp-validation-for="Senha"></span>
            <br />

            <input type="file" name="Imagem" id="Imagem" onchange="exibirImagem()">
            <img id="imgPreview" src="data:image/jpeg;base64,@Model.ImagemEmBase64" width="100">
            <span asp-validation-for="Imagem"></span>

            <br />
            <input type="submit" value="Finalizar cadastro" />
            <br />
        </div>
        
    </form>
</div>


<script>
    function exibirImagem() {
        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("Imagem").files[0]);
        oFReader.onload = function (oFREvent) {
            document.getElementById("imgPreview").src = oFREvent.target.result;
        };
    }
</script>