@model SensorViewModel
@{
    ViewData["Title"] = ViewBag.Operacao == "I" ? "Cadastro de Sensores" : "Edição de Sensores";
}

@section Styles {
    <link rel="stylesheet" href="~/css/cadastroSensores.css" asp-append-version="true" />
}

<div class="container-externo-forms">
    <form asp-controller="Sensor" asp-action="Save" method="post">
        <div class="title">@ViewData["Title"]</div>

        <div class="form-body">
            <input type="hidden" name="Operacao" value="@ViewBag.Operacao" />
            <input type="hidden" name="Id" value="@Model.Id" />

            <div>
                <label>Nome do Sensor</label>
                <input asp-for="nomeSensor" required />
                <span asp-validation-for="nomeSensor" class="text-danger"></span>
            </div>

            <div>
                <label>Descrição</label>
                <input asp-for="descricaoSensor" required />
                <span asp-validation-for="descricaoSensor" class="text-danger"></span>
            </div>

            <div>
                <label>Local de Instalação</label>
                <input asp-for="localInstalacao" required />
                <span asp-validation-for="localInstalacao" class="text-danger"></span>
            </div>

            <div>
                <label>Valor de Instalação</label>
                <input asp-for="valorInstalacao" type="number" step="0.01" required />
                <span asp-validation-for="valorInstalacao" class="text-danger"></span>
            </div>

            <div>
                <label>Data de Instalação</label>
                <input asp-for="dataInstalacao" type="date" value="@Model.dataInstalacao.ToString("yyyy-MM-dd")" required />
                <span asp-validation-for="dataInstalacao" class="text-danger"></span>
            </div>

            <input type="submit" value="Cadastrar" />

            <a asp-action="Index" asp-controller="Sensor" class="btn btn-secondary">Voltar para Lista</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
